/* * {
    font-family: "Helvetica Neue";
    box-sizing: border-box;
    background-color: gainsboro;
    margin: 0;
}

.header {
    display: flex;
    justify-content: center;
}

.reg-container {
    display: flex;
    flex-direction: column;
    border: rgb(255, 156, 200) solid 5px;
    margin: 5% auto;
    width: 300px;
    padding: 10px;
    align-items: center;
}

.reg-container input {
    margin: 20px;
    height: 30px;
    width: 240px;
    background-color: whitesmoke;
}
*/
/* input {
    background-color: whitesmoke;
    color: black;
} */

/* ::placeholder {
    text-transform: uppercase;
}

.find-people-user {
    border: black solid 3px;
}  */
